root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 72

[*.md]
max_line_length = 78
trim_trailing_whitespace = false

[*.{json,yml,yaml}]
max_line_length = 78

[*.py]
indent_size = 4
max_line_length = 79

[.githooks/*]
indent_style = space
indent_size = 2
